
body{
    font-family: Georgia, serif;
    font-size: 100%;
    font: unset;
}


/* Header do site */
.container {
    width: 100%;
    max-width: 960px;
    padding: 0 20px;
    box-sizing: border-box;
    /* border: 1px solid red;  */
    margin: 0 auto; 
}
header{ 
    background-color: #333;
    width: 100%;
    height: 75px;
    display: flex;
    color: #fafafa;
    justify-content: center;
    position: fixed;
    z-index:10;
}
* {
    box-sizing: border-box;
}
header p{
    color: #fafafa;
}

#menu-nav{ 
    width: 100%; 
    height: 75px; 
    position: fixed; 
    color: #fafafa;
    top:3%;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
} 

header a{
    color: #fafafa;
    text-decoration: none;
    position: relative;
}
/* Animação dos links da nav */
.anm-link {
    color: #fafafa;
    text-decoration: none;
    display: block;
    margin: 0.5em;
    position: relative;
}
.anm-link:after {
    background-color: #fafafa;
    position: relative;
    content: "";
    display: block; 
    height: 2px;
    line-height: 0;
    width: 100%;
    transform-origin: left bottom;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.anm-link:hover::after, .anm-link:active::after{
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.3s linear;

}
@media (max-width: 960px){

}
/* Fim do header */


#corpo-pg{
    width: 100%;
    height: 800px;
    justify-content: center;
}

#corpo-pg img{
    position: absoluta;
    width: 100%;
}
#sec-header .div-sec1 {
    right: 100%;
}
#div-tex1 {
    width: 500px;
    color: #fafafa;
}
#header-2 {
    text-align: center;
    width: 600px;
    height: 300px;
    display: inline-grid;
    position: absolute;
    align-items: center;
    top:40%;
}
#header-2 h1{
    color: #fafafa;
}
#div-do-header{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#text1 p{
    color: #333;
    text-align: center;
    width: 400px;
}
#div-header::after {
  content:"";
  width: 20px;
  height: 4px;
  background-color: #fafafa;
  margin: 10px auto;
  position: absolute;

}

#texto-sub {
    width: 300px;
    height: 40px;
    display: contents;
}
#texto-sub p{
    width: 300px;
    height: 40px;
    display: contents;

    top: 10px;
}
.div-ap{

    height: 200px;
    display: inline-flex;
    position: sticky;
}
.div-da-div1 {

    height: 50px;
    width: 180px;
    background-color: #333;

}
#cofe-1 div{
    display: grid;
    position: absolute;
    bottom: -25px;
    justify-items: center;
    align-items: center;
    font-style: oblique;
    font-size: 1.5em;
}
#cofe-2 div{
    display: grid;
    position: absolute;
    bottom: -25px;
    justify-items: center;
    align-items: center;
    font-style: oblique;
    font-size: 1.5em;
}
#code-1,#cofe-2 p{
    color: #fafafa;
    text-align: center;
    display: flex;
    position: absolute;
    justify-content: center;
}
.div-da-div2 {
    height: 50px;
    width: 180px;
    background-color: #333;

}
#text-cima{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    align-items: center;
}
#center #cofe-1{
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}
#center #cofe-2{
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

h1{
    font-size: 2.5em;
    text-decoration: dotted;
    color:#fafafa;
}
#center{
    display: grid;
    height: 500px;
}
p{
    font-size: 1em;
    color:#fafafa;
}

.botao-redondo-paulista{
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    background: #5b3a0b;
    border-radius: 50%;
    border: 5px solid #ddd8bb;
    margin: 0 10px 20px 10px ;
    box-shadow: 0 0 0 10px #5b3a0b;

}
.botao-redondo-carioca{
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    background: #ea8c2e;
    border-radius: 50%;
    border: 5px solid #ddd8bb;
    margin: 0 10px 20px 10px;
    box-shadow: 0 0 0 10px #ea8c2e;
}
.botao-redondo-mineiro{
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    background: #d8bf41;
    border-radius: 50%;
    border: 5px solid #ddd8bb;
    margin: 0 10px 20px 10px;
    box-shadow: 0 0 0 10px #d8bf41;

}
/* Animação dos circulos redondos*/
@keyframes animacao {
    from {
       
    background: transparent;
    }
    to { 
      background: #ddd8bb;
       
    }
 }
 .botao-redondo-carioca:hover{
    animation: animacao 0.2s;
    background-color: #ddd8bb;
 }
/* Uma das foras de fazer o botão redondo */
/* .botao-redondo-paulista:hover {
    background-color: #ddd8bb;
} */

.botao-redondo-mineiro:hover{
    animation: animacao 0.2s;
    background-color: #ddd8bb;
 }

 .botao-redondo-paulista:hover{
    animation: animacao 0.2s;
    background-color: #ddd8bb;
 }
#container-sec-prod {
    width: 960px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    justify-content: center;
}
#container-sec-prod #saiba-mais{
    justify-items: center

}
#centro-centro #produtos{
    display: flex;
    justify-content: center;
}
#produtos-title {
    display: flex;
    justify-content: space-around;
}
#produtos-title div{
    width: 350px;
    text-align: center;
    color: #333;
    
}
#produtos-title p{
    color: #333;
    font-size: 0.8em;
}
#produtos-produtos {
    display: inline-flex;
    justify-content: space-between;
    width: 840px;

}
#saiba-mais {
    display: flex;
    justify-content: center;
}
#prod-bot {
    width: 150px;
    justify-content: center;
    border: 2px solid;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 10px;
}
#prod-bot:hover {
    background-color: #333;
    color: #fafafa;
}
#center h2 {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 2em;
    color:#333;
}
#div-tex {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
div#center{
    width: 100%;
    max-width: 30px;
    height:100%;
    max-height: 20px;
    display: flex;
    position: absolute;
    top:10px;
}

#centro-centro {
    height: 400px;
    background-color: #ddd8bb;
    width: 100%;
    border: 2px double #dec787;
    align-items: center;
    display: flex;

}

.img-botafogo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 100px;
    margin: 20px;
}

.text-final p,h1 {

    color: #333;
}
.text-final{
    margin: 20px;
    max-height: 300px;
}
.text-bot{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
 .text-intro-bot {
     display: grid;
     justify-content: end;
     max-width: 310px;
 }
#section-2{
    height: 800px;
}

.artigle-meio {
    max-width: 960px;
    display: flex;
    margin-bottom: 50px;
}
.anm-vermais{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    max-width: 130px;
    border: 2px solid;
    justify-content: center;
    color: #333;
    padding: 10px;
    margin-top: 20px;
}
.anm-vermais:hover{
    background-color: #333;
    color: #fafafa;
}
.text-intro-bot .veja-mais {
    bottom: -50px;
    display: grid;

}

